@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";

@keyframes ring {
  0%        { transform: rotate(0deg) scale(1); }
  10%, 30%  { transform: rotate(15deg) scale(1.1); }
  20%, 40%  { transform: rotate(-15deg) scale(1.1); }
  50%, 100% { transform: rotate(0deg) scale(1); }
}

.animate-ring {
  animation: ring 2s ease-in-out infinite;
  transform-origin: top top;
}
